.form-container{
  display: flex;
  justify-content: center; 
  background-color: white;
  min-width: 120px;
  height: 600px;
  margin: 0px 150px 0px 150px;
}

.form button{
 margin-top: 15px; 
 margin-left: 5px;
 width: 100%;
}
.form input{
  width: 100%;
 }